:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --tellandmail-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-right: 70px;
}

.logo-accent,
.logo:focus,
.menu-link:focus,
.header-tellandmail:focus,
.logo:hover,
.menu-link:hover,
.header-tellandmail:hover,
.menu-link.current {
  color: var(--accent-color);
}

.menu-link,
.header-tellandmail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link {
  color: var(--title-text-color);
}

.header-tellandmail {
  color: var(--primary-text-color);
  font-style: normal;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--primary-white-color);
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.page-header .header-tellandmail {
  margin-right: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hero {
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.advantage-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.advantage-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.specialization {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.footer-office,
.footer-tellandmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-logo,
.footer-office {
  color: var(--primary-white-color);
}

.footer-tellandmail {
  color: var(--tellandmail-color);
}
