:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --tellandmail-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo-accent,
.logo:focus,
.header-links:focus,
.header-tellandmail:focus,
.logo:hover,
.header-links:hover,
.header-tellandmail:hover,
.header-links.current {
  color: var(--accent-color);
}

.header-links,
.header-tellandmail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-links {
  color: var(--title-text-color);
}

.header-tellandmail {
  color: var(--primary-text-color);
  font-style: normal;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.advantage-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.advantage-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.specialization {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.project-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.footer-office,
.footer-tellandmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.footer-logo,
.footer-office {
  color: var(--primary-white-color);
}

.footer-tellandmail {
  color: var(--tellandmail-color);
}
